# ==========================================
# Python Bytecode & Cache
# ==========================================
__pycache__/
*.py[cod]
*$py.class
/cache/
*.pkl

# ==========================================
# Data & Database
# ==========================================
/data/
/db/
/reference/sequences-241017.csv
/reference/genome/problematic_sites_sarsCov2.vcf
/reference/phylogeny/public-2024-10-17.all.masked.pb

# ==========================================
# Outputs & Logs
# ==========================================
/outputs/
/wandb/
nohup*.out

# ==========================================
# Old Files & Third-party
# ==========================================
/old_file/
/usher/
/usher_old/
/reference/sequences-241017_old.csv


# Claude code
CLAUDE.md
.claudeignore


