# ==========================================
# Python Bytecode & Cache
# ==========================================
__pycache__/
*.py[cod]
*$py.class
/cache/
*.pkl

# ==========================================
# Data & Database
# ==========================================
/data/
/db/
/meta_data/sequences-241017.csv
/meta_data/problematic_sites_sarsCov2.vcf
/meta_data/public-2024-10-17.all.masked.pb

# ==========================================
# Outputs & Logs
# ==========================================
/outputs/
/wandb/
nohup*.out

# ==========================================
# Old Files & Third-party
# ==========================================
/old_file/
/usher/
/usher_old/