# git rm -r --cached FolderName
/meta_data/sequences-241017.csv
/outputs/
/old_file/
/wandb/
/cache/
*.pkl
nohup*.out
*/__pycache__/
/meta_data/problematic_sites_sarsCov2.vcf
/meta_data/public-2024-10-17.all.masked.pb
/usher/
/usher_old/
/db/
/data/